#btnlogin {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: black;
}
/* Estilos para el botón */

  
  /* Estilos para el Offcanvas */
  .offcanvas {
    background-color: #1a1a1a; /* Color de fondo negro */
    background-image: linear-gradient(to bottom right, #1a1a1a, #333333); /* Gradiente metálico */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
    color: #fff; /* Color de texto */
  }
  
  .offcanvas-header {
    background-color: #272727; /* Color de fondo del encabezado */
    border-bottom: 1px solid #333333; /* Borde inferior */
    padding: 1rem;
  }
  
  .offcanvas-title {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  .offcanvas-body {
    padding: 1rem;
  }
  
  .offcanvas-body a {
    display: block;
    padding: 0.5rem 0;
    color: #fff; /* Color de enlaces */
    text-decoration: none;
  }
  
  .offcanvas-body a:hover {
    color: #a7b0bb;
  }
  /**/
  .btnM {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #0d0f0c93;
    color: #ffffff;
  }
  
  .btnM:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
    
  }
  
  .btnM .icon {
    position: absolute;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
 
  .btnM:hover .icon {
    width: 70px;
  }
  
  .btnM:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btnM:focus {
    outline: none;
  }
  
  .btnM:active .icon {
    transform: scale(0.75);
  }
  